.off-screen-menu {
    --right_posittion: 2px;
    /* background-color: var(--green-color); */
    height: 50vh;
    width: 4rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: 0.3s ease;
    gap: 2rem;
    animation: toLeft 0.5s ease forwards;
}

.off-screen-menu.active {
    top: -0%;
    /* right: .5rem; */
    animation: toRight 0.5s ease forwards;
}

@keyframes toRight {
    0% {
        right: -4rem;
    }
    100% {
        right: var(--right_posittion);
    }
}

@keyframes toLeft {
    0% {
        right: var(--right_posittion);
    }
    100% {
        right: -4rem;
    }
}

.off-screen-menu__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: red; */
}

.off-screen-menu__list li {
    height: 2.3rem;
    width: 2.3rem;
    background-color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease;
    opacity: .6;

    &:hover{
        transform: scale(1.1);
        opacity: 1;
    }
}

.off-screen-menu__list li:nth-child(1) {
    background-image: url(../../public/icons/user.svg);
}
.off-screen-menu__list li:nth-child(2) {
    background-image: url(../../public/icons/sketch.svg);
}
.off-screen-menu__list li:nth-child(3) {
    background-image: url(../../public/icons/whatsapp.svg);
}

#nav_menu {
    padding: 1rem;
    display: flex;
}

#hamburger {
    height: 35px;
    width: 35px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s ease;

    &:hover {
        transform: scale(1.1);
    }
}

#hamburger span {
    height: 2px;
    width: 70%;
    background-color: var(--white-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

#hamburger.active{
    transform: scale(1.1);
    background-color: var(--white-color);
    box-shadow: 0 0 4px var(--black-color);
}

#hamburger span:nth-child(1) {
    top: 30%;
}

#hamburger span:nth-child(2) {
    top: 50%;
}

#hamburger span:nth-child(3) {
    top: 70%;
}

#hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-225deg);
    background-color: var(--green-color);
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
    background-color: var(--green-color);
}