footer{
    width: 100%;
    justify-items: center;
    /* background-color: red; */

    .socials{
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 1rem;
        border-top: 1px solid rgba(0, 0, 0, .6);
        
        img{
            height: 2rem;
            opacity: .6;
            filter: drop-shadow(0 0 1px var(--black-color));
        }
    }
}