#headerMain{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    position: fixed;
    top: 0;
    z-index: 1000;

    img{
        height: 3rem;
        cursor: pointer;
        margin: 1rem;
        transition: var(--transitions) ease;

        &:hover{
            transform: scale(.95);
            transition: var(--transitions) ease-in-out;
        }
    }
}