#headerMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    position: sticky;
    top: 0;

    img{
        height: 3rem;
        cursor: pointer;
        margin: 1rem;
    }
}