@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-image: url(/images/backgroundBody.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

:root{
  --green-color: #314231;
  --greenLight-color: #455b45;
  --white-color: #fefefe;
  --black-color: #0f0f0f;
  --creme-color: #edece3;
  --red-color: #b91616;

  --transitions: .5s;
  --text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}