#sectionTwo {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    align-content: center;
    color: var(--green-color);
    position: relative;
    overflow: hidden;
    justify-items: center;
    box-sizing: border-box;



    img {
        width: 100%;
        max-width: 1080px;
        /* height: 100%; */
        bottom: -20%;
        position: absolute;
        z-index: -1;
        opacity: .9;
    }
}