#sectionOne {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--green-color);
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 0 0 100px rgba(255, 255, 255, .3);
    justify-content: center;

    .sectionOneArticle {
        cursor: default;
        width: 100%;
        text-align: center;
        height: 100%;
        color: var(--greenLight-color);
        text-shadow: 0 0 3px rgba(0, 0, 0, .4);
        display: grid;
        grid-template-rows: .6fr .2fr .1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;

        .divArticleOne {
            display: flex;
            height: max-content;
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            letter-spacing: 1rem;
            grid-row: 2;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 400;
                font-size: 3rem;
                margin-bottom: -1rem;
            }

            h2 {
                font-weight: 100;
                font-size: 2rem;
            }

            p {
                letter-spacing: .3rem;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                grid-row: 3;
            }
            button{
                width: 6rem;
                height: 2rem;
                margin: 1rem;
                border: 1px solid var(--green-color);
                border-radius: 5px;
                background-color: transparent;
                color: var(--white-color);
                font-size: .7rem;
                font-weight: bold;
                transition: var(--transitions) ease;

                h4{
                    transition: var(--transitions) ease;
                    color: var(--green-color);
                    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
                }

                &:hover{
                    cursor: pointer;
                    background-color: var(--greenLight-color);
                    transition: var(--transitions) ease-in-out;

                    h4{
                        transition: var(--transitions) ease;
                        color: var(--white-color);
                    }
                }
            }
        }
    }

    img {
        width: 100%;
        max-width: 1024px;
        /* height: 100%; */
        bottom: -20%;
        position: absolute;
        z-index: -1;
    }
}

@keyframes oscureOut {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg);
    }
}