#sectionOne{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-color);
    position: relative;
    /* background-image: url(../public/images/backgroundIndivudiales.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 25dvh; */

    img{
        width: 100%;
        max-width: 1440px;
        height: 100%;
        /* object-fit: cover; */
        bottom: -20%;
        position: absolute;
        z-index: -1;
        /* box-shadow: 0 0 10px var(--white-color); */
    }
}